body {
    background-color: rgba(10,80,150,60%);
   text-align: center;
  }
  
  h1 {
    margin: center;
    font-size: 60;
    font-family: Impact;
    
  }
  
  p {
    margin:center;
    font-size:28;
    font-family: arial black;
  }
  
  form{
    text-align: left;
    font-size: 20px;
    font-family: Arial;
    padding: 15px;
    border:2px solid black
  
  }
  
  input, textarea {
    background-color:withe;
    border: 1px solid #0a0a23;
    color: black;
    border: none;
    border-radius: 5px;
  }
  
  input{
  padding: 5px;
  border: none;
  border-radius:5px;
  }
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  select {
    width: 70%;
    min-height: 2em;
    border-radius: 5px;
    border: none
  }
  
  textarea{
    width: 500px;

  }
  
  input[type="checkbox"] {
    width:15px;
    height:15px;
  }
  
  input[type="radio"] {
    width:15px;
    height:15px;
  
  }
  input[type="submit"] {
  color: black;
  width: 200px;
}
